<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drink Details</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Cocktail Name</th>
                <th>Image</th>
                <th>Ingredients</th>
                <th>Method</th>
                <th hidden="true">Cocktail ID</th>
            </tr>
        </thead>
        <tbody>
            <% if (data && data.length > 0) { %>
                <% data.forEach(cocktail => { %>
                    <tr>
                        <td scope="row"><%= cocktail.strDrink %></td>
                        <td><img src="<%= cocktail.strDrinkThumb %>" alt="<%= cocktail.strDrink %>" style="width: 100px; height: auto;"></td>
                        <td>
                            <ul>
                                <% for (let i = 1; i <= 15; i++) { %>
                                    <% const ingredient = cocktail['strIngredient' + i]; %>
                                    <% const measure = cocktail['strMeasure' + i]; %>
                                    <% if (ingredient && measure) { %>
                                        <li><%= measure %> <%= ingredient %></li>
                                    <% } %>
                                <% } %>
                            </ul>
                        </td>
                        <td><%= cocktail.strInstructions %></td>
                        <td hidden="true" name="idDrink"><%= cocktail.idDrink %></td>
                    </tr>
                <% }); %>
            <% } else { %>
                <tr>
                    <td colspan="2">No ingredients found</td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>